# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby & Bundler
*.gem
.bundle/
vendor/
.ruby-version
.ruby-gemset

# Environment normalization
.env
.env.*

# General
.DS_Store
Thumbs.db
*.log