<!-- Categories -->
<div class="card mb-4">
    <div class="card-body">
        <h4>Kategorije</h4>
        <ul class="list-group list-group-flush">
            {% assign categories = site.posts | map: "categories" | flatten | group_by_exp: "item", "item" | sort:
            "size" | reverse %}
            {% for category in categories %}
            {% if category.name != "" %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ '/kategorije/' | append: category.name | slugify | relative_url }}"
                    class="text-decoration-none text-dark">
                    {{ category.name }}
                </a>
                <span class="badge bg-primary rounded-pill">{{ category.size }}</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>